{% extends "base.html" %}

{% block content %}
<h1>Новая расслыка</h1>
<div class="col-md6 border rounded">
    <div>
        <form method="post">
        Дата и время запуска рассылки:<br>
            <input type="date" name="firstdate"><br>
            <input type="time" name="firsttime"><br>

        Текст сообщения для доставки клиенту:<br>
            <input type="text" name="msg"><br>

        Фильтр клиентов (код мобильного оператора, тег):<br>
            <input type="text" name="filter"><br>

        Дата и время окончания рассылки:<br>
            <input type="date" name="enddate"><br>
            <input type="time" name="endtime"><br><br>
        <button type="submit" class="btn btn-primary">Создать рассылку</button>

        </form>
    </div>
</div>
{% endblock %}