{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
{% for item in sends%}
<div class="col-md6 border rounded">
    <h2>{{item.id}}</h2>
    <div>
        Время отправки - {{item.star_date}}, Время отправки - {{item.end_time}}, текст - {{item.msg}}, фильтр - {{item.filter}}
    </div>
</div>
{% endfor %}
{% endblock %}