{% extends "base.html" %}

{% block content %}
<h1>Новый пользователь</h1>
<div class="col-md6 border rounded">
    <div>
        <form method="post">
        Номер телефона:<br>
            <input type="text" name="phone" value="+7XXXXXXXXXX"><br>

        Код_оператора:<br>
            <input type="text" name="code"><br>

        Тэг:<br>
            <input type="text" name="tag"><br>

        Часовой пояс:<br>
            <input type="text" name="time"><br><br>

        <button type="submit" class="btn btn-primary">Создать пользователя</button>

        </form>
    </div>
</div>
{% endblock %}
